In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#출력 그림 크기 조절
sns.set(rc={'figure.figsize':(12,12)})
plt.style.use('ggplot')
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

In [2]:
# 데이터 로드
train = pd.read_csv('data/train0702.csv')
test = pd.read_csv('data/test0702.csv')

#### 지하철, 버스 Rename

In [3]:
# 지하철, 버스 rename
train.rename(columns={"도보 10분거리 내 지하철역 수(환승노선 수 반영)" : "지하철", "도보 10분거리 내 버스정류장 수" : "버스"}, inplace=True)
test.rename(columns={"도보 10분거리 내 지하철역 수(환승노선 수 반영)" : "지하철", "도보 10분거리 내 버스정류장 수" : "버스"}, inplace=True)

#### 지하철, 버스 결측치 처리

**1. 지하철**

In [4]:
train[train["지하철"].isna()]["지역"].unique()

array(['충청남도', '대전광역시', '경상남도'], dtype=object)

In [5]:
train.groupby("지역").mean()

,총세대수,전용면적,전용면적별세대수,공가수,지하철,버스,단지내주차면수,등록차량수
지역,,,,,,,,
강원도,549.288770,45.123209,95.000000,8.989305,0.000000,3.422460,366.679144,388.245989
경기도,956.763285,43.970966,116.141707,13.220612,0.201288,4.333333,814.222222,794.784219
경상남도,695.644986,42.194092,98.260163,11.560976,0.000000,3.824658,475.739837,414.238482
경상북도,630.142857,45.572101,109.058824,22.252101,0.000000,3.016807,628.705882,640.823529
광주광역시,776.368794,43.744184,122.028369,17.063830,0.000000,3.496454,673.531915,731.858156
대구광역시,862.862745,47.854608,142.137255,17.862745,0.460784,3.735294,801.754902,873.519608
대전광역시,1285.838346,47.281090,95.409774,11.439850,0.722543,4.714286,693.233083,535.394737
부산광역시,1511.070122,47.214390,87.954268,13.689024,0.533537,2.448171,467.713415,316.545732
서울특별시,778.875000,52.275156,83.953125,8.468750,0.187500,4.093750,866.609375,882.328125
세종특별자치시,1256.297872,68.289574,114.170213,4.340426,0.000000,2.489362,1082.957447,1293.553191
울산광역시,486.111111,43.691667,120.083333,18.527778,0.000000,3.055556,414.527778,342.722222
전라남도,629.860927,42.349603,95.576159,13.801325,0.000000,3.397351,536.311258,506.827815
전라북도,597.917431,43.340000,109.119266,9.266055,0.000000,3.073394,482.761468,482.422018
제주특별자치도,557.846154,38.554396,79.010989,7.890110,0.000000,5.274725,377.373626,333.219780
충청남도,646.139241,39.200759,67.012658,6.531646,0.000000,3.677215,262.056962,239.158228
충청북도,700.631902,44.940245,117.110429,20.368098,0.000000,2.944785,652.564417,563.184049

- 충청남도, 경상남도는 지하철이 없다. => 따라서 결측치 0으로 처리 가능

- 대전광역시 결측값이 문제

In [6]:
# 결측값 처리
# 지하철 처리
# 경남 지역 다른 지하철들은 모두 0이다.
train_kn = train[train["지역"] == "경상남도"]
display(train_kn[train_kn["지하철"].isna()])
display(train_kn.sample(10))

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
2315,C1649,575,아파트,경상남도,공공임대(10년),74.97,80,15.0,A,46000000,456000,NaN,NaN,1066.0,855.0
2316,C1649,575,아파트,경상남도,공공임대(10년),84.95,124,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2317,C1649,575,아파트,경상남도,공공임대(10년),84.96,289,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2318,C1649,575,아파트,경상남도,공공임대(10년),84.98,82,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
1268,C1141,630,아파트,경상남도,국민임대,59.99,120,28.0,A,22763000,126460,0.0,2.0,637.0,620.0
2539,C1320,1696,아파트,경상남도,국민임대,26.80,616,35.0,H,7870000,154000,0.0,4.0,1648.0,924.0
329,C2190,1013,상가,경상남도,임대상가,25.88,1,7.0,D,NaN,NaN,0.0,2.0,178.0,129.0
1776,C1660,718,아파트,경상남도,국민임대,39.84,60,13.0,A,11175000,85020,0.0,3.0,550.0,512.0
1926,C1572,937,아파트,경상남도,국민임대,33.55,294,32.0,A,11174000,93710,0.0,3.0,770.0,479.0
2369,C2377,1105,아파트,경상남도,국민임대,46.95,44,22.0,A,26673000,305370,0.0,3.0,1110.0,579.0
1589,C1641,283,아파트,경상남도,국민임대,51.93,87,8.0,A,14278000,124610,0.0,1.0,227.0,268.0
1717,C2141,504,아파트,경상남도,국민임대,36.62,120,2.0,A,18581000,136250,0.0,6.0,445.0,495.0
1780,C1660,718,아파트,경상남도,국민임대,46.71,30,13.0,A,14213000,94750,0.0,3.0,550.0,512.0
953,C2000,1300,아파트,경상남도,국민임대,46.90,69,21.0,A,19225000,169420,0.0,2.0,1082.0,795.0

In [7]:
train_dj = train[train["지역"] == "대전광역시"]
display(train_dj[train_dj["지하철"].isna()])
display(train_dj.sample(20))

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
144,C1424,625,아파트,대전광역시,공공임대(50년),39.99,268,2.0,A,14247000,198980,NaN,7.0,517.0,179.0
145,C1424,625,아파트,대전광역시,공공임대(50년),49.95,119,2.0,A,20173000,225100,NaN,7.0,517.0,179.0
146,C1424,625,아파트,대전광역시,공공임대(50년),49.95,237,2.0,A,21203000,225100,NaN,7.0,517.0,179.0
147,C2100,880,아파트,대전광역시,국민임대,51.51,46,4.0,A,22307000,89210,NaN,5.0,736.0,671.0
148,C2100,880,아파트,대전광역시,국민임대,51.59,35,4.0,A,22307000,89210,NaN,5.0,736.0,671.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2339,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000,519350,NaN,6.0,1636.0,2315.0
2340,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000,516130,NaN,6.0,1636.0,2315.0
2341,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000,131130,NaN,6.0,1636.0,2315.0
2342,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000,152680,NaN,6.0,1636.0,2315.0
2343,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000,152480,NaN,6.0,1636.0,2315.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
187,C1616,1507,상가,대전광역시,임대상가,37.95,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
1885,C1406,1647,아파트,대전광역시,국민임대,51.76,116,13.0,A,43357000,231630,0.0,2.0,1741.0,1350.0
60,C1171,624,아파트,대전광역시,국민임대,46.66,15,13.0,A,35462000,189130,0.0,5.0,634.0,700.0
242,C2038,785,아파트,대전광역시,영구임대,31.32,90,7.0,C,6873000,94990,1.0,10.0,150.0,108.0
55,C1171,624,아파트,대전광역시,국민임대,33.38,190,13.0,A,17730000,118190,0.0,5.0,634.0,700.0
63,C1171,624,아파트,대전광역시,국민임대,46.88,78,13.0,A,35462000,189130,0.0,5.0,634.0,700.0
212,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
64,C1171,624,아파트,대전광역시,국민임대,46.88,30,13.0,A,35462000,189130,0.0,5.0,634.0,700.0
198,C1704,639,아파트,대전광역시,영구임대,39.30,204,34.0,C,8625000,119190,NaN,7.0,162.0,131.0
197,C1616,1507,상가,대전광역시,임대상가,583.40,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
297,C1859,2424,상가,대전광역시,임대상가,54.61,1,1.0,D,NaN,NaN,1.0,4.0,487.0,116.0
1845,C1177,1668,아파트,대전광역시,국민임대,33.82,262,17.0,A,18581000,139970,1.0,10.0,1756.0,1044.0
2289,C2583,1106,아파트,대전광역시,국민임대,46.78,72,21.0,A,26774000,254840,NaN,2.0,752.0,982.0
2285,C2583,1106,아파트,대전광역시,국민임대,36.85,24,21.0,A,11397000,193550,NaN,2.0,752.0,982.0
216,C2258,965,아파트,대전광역시,영구임대,31.32,180,13.0,C,6873000,94990,NaN,3.0,287.0,78.0
1887,C1406,1647,아파트,대전광역시,국민임대,51.83,15,13.0,A,43357000,231630,0.0,2.0,1741.0,1350.0
271,C1859,2424,상가,대전광역시,임대상가,31.84,1,1.0,D,NaN,NaN,1.0,4.0,487.0,116.0
256,C2038,785,상가,대전광역시,임대상가,32.29,1,7.0,D,NaN,NaN,1.0,10.0,150.0,108.0
163,C2621,1396,상가,대전광역시,임대상가,31.84,1,26.0,D,NaN,NaN,1.0,4.0,277.0,133.0

In [8]:
train_dj[train_dj["지하철"].isna()]["단지코드"].unique()

array(['C1424', 'C2100', 'C2520', 'C1616', 'C1704', 'C2258', 'C2583',
       'C1350'], dtype=object)

In [9]:
for i in train_dj[train_dj["지하철"].isna()]["단지코드"].unique():
    display(train_dj[train_dj["단지코드"] == i])

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
144,C1424,625,아파트,대전광역시,공공임대(50년),39.99,268,2.0,A,14247000,198980,NaN,7.0,517.0,179.0
145,C1424,625,아파트,대전광역시,공공임대(50년),49.95,119,2.0,A,20173000,225100,NaN,7.0,517.0,179.0
146,C1424,625,아파트,대전광역시,공공임대(50년),49.95,237,2.0,A,21203000,225100,NaN,7.0,517.0,179.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
147,C2100,880,아파트,대전광역시,국민임대,51.51,46,4.0,A,22307000,89210,NaN,5.0,736.0,671.0
148,C2100,880,아파트,대전광역시,국민임대,51.59,35,4.0,A,22307000,89210,NaN,5.0,736.0,671.0
149,C2100,880,아파트,대전광역시,국민임대,51.90,589,4.0,A,22307000,89210,NaN,5.0,736.0,671.0
150,C2100,880,아파트,대전광역시,국민임대,59.91,118,4.0,A,27885000,111520,NaN,5.0,736.0,671.0
151,C2100,880,아파트,대전광역시,국민임대,59.94,46,4.0,A,27885000,111520,NaN,5.0,736.0,671.0
152,C2100,880,아파트,대전광역시,국민임대,59.99,46,4.0,A,27885000,111520,NaN,5.0,736.0,671.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
171,C2520,970,아파트,대전광역시,공공임대(50년),39.69,960,2.0,A,13155000,177500,NaN,2.0,420.0,386.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
176,C1616,1507,아파트,대전광역시,영구임대,26.37,588,1.0,C,5787000,79980,NaN,2.0,407.0,98.0
177,C1616,1507,아파트,대전광역시,영구임대,31.32,450,1.0,C,6873000,94990,NaN,2.0,407.0,98.0
178,C1616,1507,아파트,대전광역시,영구임대,40.32,450,1.0,E,54040000,28140,NaN,2.0,407.0,98.0
179,C1616,1507,상가,대전광역시,임대상가,38.00,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
180,C1616,1507,상가,대전광역시,임대상가,38.00,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
181,C1616,1507,상가,대전광역시,임대상가,37.26,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
182,C1616,1507,상가,대전광역시,임대상가,37.41,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
183,C1616,1507,상가,대전광역시,임대상가,37.41,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
184,C1616,1507,상가,대전광역시,임대상가,37.41,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
185,C1616,1507,상가,대전광역시,임대상가,37.49,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
186,C1616,1507,상가,대전광역시,임대상가,37.95,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
187,C1616,1507,상가,대전광역시,임대상가,37.95,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
188,C1616,1507,상가,대전광역시,임대상가,38.04,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
189,C1616,1507,상가,대전광역시,임대상가,39.33,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
190,C1616,1507,상가,대전광역시,임대상가,39.33,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
191,C1616,1507,상가,대전광역시,임대상가,39.33,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
192,C1616,1507,상가,대전광역시,임대상가,54.51,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
193,C1616,1507,상가,대전광역시,임대상가,54.61,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
194,C1616,1507,상가,대전광역시,임대상가,54.91,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
195,C1616,1507,상가,대전광역시,임대상가,75.98,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
196,C1616,1507,상가,대전광역시,임대상가,109.11,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0
197,C1616,1507,상가,대전광역시,임대상가,583.40,1,1.0,D,NaN,NaN,NaN,2.0,407.0,98.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
198,C1704,639,아파트,대전광역시,영구임대,39.30,204,34.0,C,8625000,119190,NaN,7.0,162.0,131.0
199,C1704,639,아파트,대전광역시,영구임대,39.69,420,34.0,C,8710000,120370,NaN,7.0,162.0,131.0
200,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
201,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
202,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
203,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
204,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
205,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
206,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
207,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
208,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
209,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
210,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
211,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
212,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
213,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0
214,C1704,639,상가,대전광역시,임대상가,126.65,1,34.0,D,NaN,NaN,NaN,7.0,162.0,131.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
215,C2258,965,아파트,대전광역시,영구임대,26.37,588,13.0,C,5787000,79980,NaN,3.0,287.0,78.0
216,C2258,965,아파트,대전광역시,영구임대,31.32,180,13.0,C,6873000,94990,NaN,3.0,287.0,78.0
217,C2258,965,아파트,대전광역시,영구임대,40.32,180,13.0,C,8848000,122290,NaN,3.0,287.0,78.0
218,C2258,965,상가,대전광역시,임대상가,19.00,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
219,C2258,965,상가,대전광역시,임대상가,14.10,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
220,C2258,965,상가,대전광역시,임대상가,19.31,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
221,C2258,965,상가,대전광역시,임대상가,21.19,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
222,C2258,965,상가,대전광역시,임대상가,21.19,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
223,C2258,965,상가,대전광역시,임대상가,22.95,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
224,C2258,965,상가,대전광역시,임대상가,23.40,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
225,C2258,965,상가,대전광역시,임대상가,23.40,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
226,C2258,965,상가,대전광역시,임대상가,23.40,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
227,C2258,965,상가,대전광역시,임대상가,23.40,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
228,C2258,965,상가,대전광역시,임대상가,27.23,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
229,C2258,965,상가,대전광역시,임대상가,31.85,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
230,C2258,965,상가,대전광역시,임대상가,32.29,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
231,C2258,965,상가,대전광역시,임대상가,35.13,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
232,C2258,965,상가,대전광역시,임대상가,36.47,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
233,C2258,965,상가,대전광역시,임대상가,50.08,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0
234,C2258,965,상가,대전광역시,임대상가,240.22,1,13.0,D,NaN,NaN,NaN,3.0,287.0,78.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
2285,C2583,1106,아파트,대전광역시,국민임대,36.85,24,21.0,A,11397000,193550,NaN,2.0,752.0,982.0
2286,C2583,1106,아파트,대전광역시,국민임대,36.85,70,21.0,A,11397000,193550,NaN,2.0,752.0,982.0
2287,C2583,1106,아파트,대전광역시,국민임대,36.93,604,21.0,A,11397000,193550,NaN,2.0,752.0,982.0
2288,C2583,1106,아파트,대전광역시,국민임대,36.93,24,21.0,A,11397000,193550,NaN,2.0,752.0,982.0
2289,C2583,1106,아파트,대전광역시,국민임대,46.78,72,21.0,A,26774000,254840,NaN,2.0,752.0,982.0
2290,C2583,1106,아파트,대전광역시,국민임대,46.78,72,21.0,A,26774000,254840,NaN,2.0,752.0,982.0
2291,C2583,1106,아파트,대전광역시,영구임대,21.97,60,21.0,I,7175000,69250,NaN,2.0,752.0,982.0
2292,C2583,1106,아파트,대전광역시,영구임대,26.90,60,21.0,I,8707000,84230,NaN,2.0,752.0,982.0
2293,C2583,1106,아파트,대전광역시,영구임대,26.90,36,21.0,I,8707000,84230,NaN,2.0,752.0,982.0
2294,C2583,1106,아파트,대전광역시,영구임대,26.90,72,21.0,I,8707000,84230,NaN,2.0,752.0,982.0
2295,C2583,1106,아파트,대전광역시,영구임대,26.90,12,21.0,I,8707000,84230,NaN,2.0,752.0,982.0

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
2331,C1350,1401,아파트,대전광역시,공공분양,74.94,317,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2332,C1350,1401,아파트,대전광역시,공공분양,74.94,137,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2338,C1350,1401,아파트,대전광역시,공공임대(10년),51.99,106,2.0,A,28013000,408600,NaN,6.0,1636.0,2315.0
2339,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000,519350,NaN,6.0,1636.0,2315.0
2340,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000,516130,NaN,6.0,1636.0,2315.0
2341,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000,131130,NaN,6.0,1636.0,2315.0
2342,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000,152680,NaN,6.0,1636.0,2315.0
2343,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000,152480,NaN,6.0,1636.0,2315.0

In [10]:
train_dj["지하철"]

15      1.0
16      1.0
17      1.0
18      1.0
19      1.0
       ...
2835    0.0
2836    0.0
2837    0.0
2838    0.0
2839    0.0
Name: 지하철, Length: 266, dtype: float64

In [11]:
train_dj["지하철"].value_counts()

1.0    125
0.0     48
Name: 지하철, dtype: int64

- 버스정류장 경상북도, 비슷한 임대료의 집들을 확인하여 6의 값으로 대치 예정

- 지하철 충청남도, 경상남도는 지하철이 존재하지 않는다. => 따라서 0으로 대치하는 것이 좋아 보임.

- 지하철 대전광역시는 0으로 대치해야하나? 뭐로 대치해야하나 0으로도 대치 1로도 대치

In [14]:
# train 데이터셋 지하철, 버스 데이터 전처리
train["지하철"] = train["지하철"].fillna(0).astype("object")
train["버스"] = train["버스"].fillna(6).astype("object")

In [15]:
# 추가적인 결측치 개수 파악
pd.DataFrame(train.isna().sum()).T

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스,단지내주차면수,등록차량수
0,0,0,0,0,0,0,0,0,0,569,569,0,0,0,0

### 오류데이터 제거

In [33]:
# 데이터 로드
age_gender = pd.read_csv('data/age_gender_info.csv')
train = pd.read_csv('data/train0702.csv', encoding = 'ansi')
test = pd.read_csv('data/test0702.csv', encoding = 'ansi')

In [34]:
pd.DataFrame(train.isna().sum()).T

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역수,버스정류장수,단지내주차면수,등록차량수
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   단지코드      2952 non-null   object
 1   총세대수      2952 non-null   int64
 2   임대건물구분    2952 non-null   object
 3   지역        2952 non-null   object
 4   공급유형      2952 non-null   object
 5   전용면적      2952 non-null   float64
 6   전용면적별세대수  2952 non-null   int64
 7   공가수       2952 non-null   int64
 8   자격유형      2952 non-null   object
 9   임대보증금     2952 non-null   float64
 10  임대료       2952 non-null   float64
 11  지하철역수     2952 non-null   float64
 12  버스정류장수    2952 non-null   int64
 13  단지내주차면수   2952 non-null   int64
 14  등록차량수     2952 non-null   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 346.1+ KB

In [39]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철역수,버스정류장수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38,A,15667000.0,103680.0,0.0,3,1425,1015
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38,A,15667000.0,103680.0,0.0,3,1425,1015
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38,A,27304000.0,184330.0,0.0,3,1425,1015
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38,A,27304000.0,184330.0,0.0,3,1425,1015
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38,A,27304000.0,184330.0,0.0,3,1425,1015

**트레인 데이터 셋 오류 제거**
- 'C2085', 'C1397', 'C2431', 'C1649','C1036', 'C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988'

In [37]:
err =list()
err = ['C2085', 'C1397', 'C2431', 'C1649','C1036', 'C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988']

In [40]:
#오류 열 제거
for i in err:
    train.drop(train[train["단지코드"] == i].index,inplace = True)

In [41]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2869 entries, 8 to 2951
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   단지코드      2869 non-null   object
 1   총세대수      2869 non-null   int64
 2   임대건물구분    2869 non-null   object
 3   지역        2869 non-null   object
 4   공급유형      2869 non-null   object
 5   전용면적      2869 non-null   float64
 6   전용면적별세대수  2869 non-null   int64
 7   공가수       2869 non-null   int64
 8   자격유형      2869 non-null   object
 9   임대보증금     2869 non-null   float64
 10  임대료       2869 non-null   float64
 11  지하철역수     2869 non-null   float64
 12  버스정류장수    2869 non-null   int64
 13  단지내주차면수   2869 non-null   int64
 14  등록차량수     2869 non-null   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 358.6+ KB

In [43]:
train.to_csv("train0710.csv", encoding='ansi', index = None)

### 데이터 합치기

In [51]:
# 데이터 로드
age_gender = pd.read_csv('data/age_gender_info.csv')
train = pd.read_csv('data/train0710.csv', encoding = 'ansi')
test = pd.read_csv('data/test0710.csv', encoding = 'ansi')

In [52]:
train_m = pd.merge(train,age_gender,how = 'left', on = '지역')
test_m = pd.merge(test,age_gender,how = 'left', on = '지역')

In [53]:
train_m.info()
test_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2869 entries, 0 to 2868
Data columns (total 37 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   단지코드       2869 non-null   object
 1   총세대수       2869 non-null   int64
 2   임대건물구분     2869 non-null   object
 3   지역         2869 non-null   object
 4   공급유형       2869 non-null   object
 5   전용면적       2869 non-null   float64
 6   전용면적별세대수   2869 non-null   int64
 7   공가수        2869 non-null   int64
 8   자격유형       2869 non-null   object
 9   임대보증금      2869 non-null   float64
 10  임대료        2869 non-null   float64
 11  지하철역수      2869 non-null   float64
 12  버스정류장수     2869 non-null   int64
 13  단지내주차면수    2869 non-null   int64
 14  등록차량수      2869 non-null   int64
 15  10대미만(여자)  2869 non-null   float64
 16  10대미만(남자)  2869 non-null   float64
 17  10대(여자)    2869 non-null   float64
 18  10대(남자)    2869 non-null   float64
 19  20대(여자)    2869 non-null   float64
 20  20대(남자)    2869 non-null   float64
 21  30대(여자)    2869 non-null   float64
 22  30대(남자)    2869 non-null   float64
 23  40대(여자)    2869 non-null   float64
 24  40대(남자)    2869 non-null   float64
 25  50대(여자)    2869 non-null   float64
 26  50대(남자)    2869 non-null   float64
 27  60대(여자)    2869 non-null   float64
 28  60대(남자)    2869 non-null   float64
 29  70대(여자)    2869 non-null   float64
 30  70대(남자)    2869 non-null   float64
 31  80대(여자)    2869 non-null   float64
 32  80대(남자)    2869 non-null   float64
 33  90대(여자)    2869 non-null   float64
 34  90대(남자)    2869 non-null   float64
 35  100대(여자)   2869 non-null   float64
 36  100대(남자)   2869 non-null   float64
dtypes: float64(26), int64(6), object(5)
memory usage: 851.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1008 entries, 0 to 1007
Data columns (total 36 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   단지코드       1008 non-null   object
 1   총세대수       1008 non-null   int64
 2   임대건물구분     1008 non-null   object
 3   지역         1008 non-null   object
 4   공급유형       1008 non-null   object
 5   전용면적       1008 non-null   float64
 6   전용면적별세대수   1008 non-null   int64
 7   공가수        1008 non-null   int64
 8   자격유형       1008 non-null   object
 9   임대보증금      1008 non-null   int64
 10  임대료        1008 non-null   int64
 11  지하철역수      1008 non-null   int64
 12  버스정류장수     1008 non-null   int64
 13  단지내주차면수    1008 non-null   int64
 14  10대미만(여자)  1008 non-null   float64
 15  10대미만(남자)  1008 non-null   float64
 16  10대(여자)    1008 non-null   float64
 17  10대(남자)    1008 non-null   float64
 18  20대(여자)    1008 non-null   float64
 19  20대(남자)    1008 non-null   float64
 20  30대(여자)    1008 non-null   float64
 21  30대(남자)    1008 non-null   float64
 22  40대(여자)    1008 non-null   float64
 23  40대(남자)    1008 non-null   float64
 24  50대(여자)    1008 non-null   float64
 25  50대(남자)    1008 non-null   float64
 26  60대(여자)    1008 non-null   float64
 27  60대(남자)    1008 non-null   float64
 28  70대(여자)    1008 non-null   float64
 29  70대(남자)    1008 non-null   float64
 30  80대(여자)    1008 non-null   float64
 31  80대(남자)    1008 non-null   float64
 32  90대(여자)    1008 non-null   float64
 33  90대(남자)    1008 non-null   float64
 34  100대(여자)   1008 non-null   float64
 35  100대(남자)   1008 non-null   float64
dtypes: float64(23), int64(8), object(5)
memory usage: 291.4+ KB

In [54]:
train_m.to_csv("trainm0710.csv", encoding='ansi', index = None)
test_m.to_csv("testm0710.csv", encoding='ansi', index = None)

#### 임대료 전처리

In [24]:
train[train["공급유형"] == "임대상가"].임대료

88     NaN
89     NaN
90     NaN
91     NaN
101    NaN
      ...
834    NaN
835    NaN
836    NaN
837    NaN
838    NaN
Name: 임대료, Length: 562, dtype: object

In [23]:
train[train["공급유형"] == "임대상가"].임대보증금.unique()

array([nan], dtype=object)