In [1]:
# 필요 라이브러리 로드
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#출력 그림 크기 조절
sns.set(rc={'figure.figsize':(12,12)})
plt.style.use('ggplot')
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
import warnings
warnings.filterwarnings("ignore")
import datetime as dt

### 세종사전 실행
from konlpy.tag import Twitter
from collections import Counter
from wordcloud import WordCloud
twitter = Twitter()

In [2]:
today = '0926'

In [3]:
df = pd.read_csv("original_data/국민청원_최종_20170817_20210817.csv",encoding = 'cp949')
df

,Class,Title,Date,Support
0,문화/예술/체육/언론,미국빌보드를 제패한 방탄소년단의 군면제를 청원합니다.,2021-08-15,23636
1,안전/환경,백화점 협력사원들의 인권을 존중해 주세요,2021-08-15,15892
2,미래,홍남기 부총리님 지지합니다,2021-08-15,4192
3,안전/환경,블랙아웃 거짓말탐지기 강제 도입 마련 및 거짓말탐지기 결과 채택을 청원합니다.,2021-08-15,3022
4,안전/환경,여름철 누진세 폐지 부탁드려요.,2021-08-15,2575
...,...,...,...,...
85780,육아/교육,기간제 교사의 정규직전환을 반대합니다.,2017-08-27,113
85781,경제민주화,소액주주를 보호해주십시오,2017-08-26,2137
85782,일자리,영어회화전문강사제도는 유지되어야합니다.,2017-08-26,1185
85783,일자리,공정한 기회 균등이 보장되는 사회,2017-08-26,144
85784,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,2017-08-26,53

In [25]:
k_w = input('문자열을 입력하세요: ')
k_c = k_w.split(",")
sns_k = df.loc[df['Title'].str.contains('|'.join(k_c))]
sns_k = sns_k.sort_values(by = "Support",ascending = False)
display(sns_k.info())
display(sns_k.head(10))

문자열을 입력하세요: 의료사고
<class 'pandas.core.frame.DataFrame'>
Int64Index: 131 entries, 8813 to 34857
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    131 non-null    object
 1   Title    131 non-null    object
 2   Date     131 non-null    object
 3   Support  131 non-null    int64
dtypes: int64(1), object(3)
memory usage: 5.1+ KB

None

,Class,Title,Date,Support
8813,보건복지,편도수술 의료사고로 6살 아들을 보낸 아빠의 마지막 바램입니다. 더 이상 억울한 죽...,2020-08-20,216040
40154,보건복지,경남양산시 모 산부인과 의료사고 입니다. 제발 도와주세요 (산모의 남편입니다),2018-11-17,214952
66068,기타,제친구 가족의 의료사고 피해.. 도와주세요,2018-06-03,28057
29670,보건복지,또하나의 산부인과 의료사고 입니다. 부탁드립니다. 제발도와주세요(산모의 남편입니다.),2019-01-29,23271
58653,인권/성평등,이게 병원입니까? 의료사고 없는 안전한 병원 만들어 주세요.,2018-07-27,20266
3165,보건복지,“故김동희”어린이를 기억하시나요? 저는 편도수술 의료사고의 추가 피해자입니다. 더 ...,2021-03-28,18761
30142,반려동물,의료사고로 장애묘가 된 제 고양이의 억울한 사연과 유통기한 지난 약물로 적발된 동물...,2019-01-23,16853
11067,보건복지,의료사고를 수사하는 전담부서를 별도로 만들고 그에 관한 법도 제정해 주십시오,2020-06-07,16472
41798,보건복지,전남대학교병원의 의료사고로 인해 한 가정이 무너졌습니다. 막막하고 억울함을 호소드립니다.,2018-11-06,14754
10468,보건복지,생후 22일된 우리아기가 의료사고로 인해 세상을 떠났습니다.,2020-06-27,14579

In [26]:
df_sns = pd.read_csv("test/sns통합.csv", encoding = "cp949")
df_sns.head()
ㅇ

           아이디          날짜                                       내용
0  @Th0masm0re  2017-10-10                  청와대 국민소통 광장   국민청원
1    @_iScent_  2017-10-10                            청와대 국민청원
2   @xiu2_xiu2  2017-10-10                            아 저 국민청원
3   @ansun9788  2017-10-10  청와대 국민소통 광장   국민청원 국민청원    이명박 제조사 원합니다
4      @s17221  2017-10-10                       일베싸이트 폐지 국민청원

In [27]:
sns_temp = df_sns.loc[:,["날짜","내용"]]
sns_temp.head()

           날짜                                       내용
0  2017-10-10                  청와대 국민소통 광장   국민청원
1  2017-10-10                            청와대 국민청원
2  2017-10-10                            아 저 국민청원
3  2017-10-10  청와대 국민소통 광장   국민청원 국민청원    이명박 제조사 원합니다
4  2017-10-10                       일베싸이트 폐지 국민청원

In [23]:
def count(na):
    #display(df1.Title)
    
    sns_g = sns_temp.groupby("날짜").count()
    sns_g = sns_g.reset_index()
    sns_g = sns_g.rename(columns={"내용" : "SNS"})
    
    k_w = na
    k_c = k_w.split(",")
    sns_k = sns_temp.loc[sns_temp['내용'].str.contains('|'.join(k_c))]
    display(sns_k.head(10))
    sns_k = sns_k.groupby("날짜").count()
    sns_k = sns_k.reset_index()
    sns_k = sns_k.rename(columns={"내용" : "SNS_KeyWord"})
    display(sns_k.head(10))
    
    sns_t = sns_g.copy()
    #sns_t["SNS_KeyWord"] = 0
    sns_t = pd.merge(sns_t,sns_k,how = "left", on = "날짜") 
    sns_t = sns_t.fillna(0)
    
    #df1.Date = pd.to_datetime(df1.Date)
    start = pd.to_datetime("2017-08-17")
    end = pd.to_datetime("2021-08-17")
    sns_t.날짜 = pd.to_datetime(sns_t.날짜)
    
    sns_t = sns_t.loc[sns_t["날짜"].values >= start]
    sns_t = sns_t.loc[sns_t["날짜"].values <= end]
    
    #sns_t["분류"] = df1.Class
    #sns_t["내용"] = df1.Title
    
    name = na 
    sns_t.to_csv("{}_{}.csv".format(name,today),encoding = "cp949",index = False)
    
    return sns_t

In [40]:
k_w = input('문자열을 입력하세요: ')
display(count(k_w))

문자열을 입력하세요: 살인사건,살인 사건

              날짜                                                 내용
4166  2018-12-26   국민청원              춘천여성 살인사건   일베 여친몰카 사건    이...
4169  2018-12-26       국민청원  춘천여성 살인사건   일베 여친몰카 사건    이수역 폭행사건  청원
4170  2018-12-26  시골 선생님들은 말했다   중학생들은 말을 하나도 안 들어서  그래서 중학생이 제일...
4173  2018-12-26   국민청원              춘천여성 살인사건   일베 여친몰카 사건    이...
4176  2018-12-26                   춘천 살인사건  법정서 죄 엄중히 묻겠다    국민청원답변
4177  2018-12-26       청와대입니다  국민청원  춘천여성 살인사건   일베 여친몰카 사건    이...
4179  2018-12-26                   춘천 살인사건  법정서 죄 엄중히 묻겠다    국민청원답변
4183  2018-12-26   국민청원              춘천여성 살인사건   일베 여친몰카 사건    이...
4658  2018-12-11   국민청원            답변  강서구   방 살인사건 등 심신미약 감경 반대...
4664  2018-12-11     심신미약 부당감경 이뤄지지 않도록 노력할 것   김형연 법무비서관   강서구 ...

           날짜  SNS_KeyWord
0  2018-01-20            1
1  2018-01-21            5
2  2018-02-14            1
3  2018-02-19            1
4  2018-03-03            1
5  2018-05-01            1
6  2018-07-22            1
7  2018-08-15            1
8  2018-08-28            1
9  2018-10-17           10

             날짜  SNS  SNS_KeyWord
66   2017-08-17    1          0.0
67   2017-08-19    1          0.0
68   2017-08-20    2          0.0
69   2017-08-21    1          0.0
70   2017-08-22    2          0.0
...         ...  ...          ...
1521 2021-08-13  204          0.0
1522 2021-08-14   25          0.0
1523 2021-08-15   82          0.0
1524 2021-08-16   81          0.0
1525 2021-08-17   35          0.0

[1460 rows x 3 columns]

In [41]:
k_w = input('문자열을 입력하세요: ')
display(count(k_w))

문자열을 입력하세요: 의료사고,의료 사고,의료과실,의료 과실

              날짜                                                 내용
1130  2017-11-16  청원글 동의와 공유 부탁드립니다    의료사고 실효성 있는 구제 대책 마련 위한  ...
4190  2018-12-26          노랭이 의료사고국민청원글이 기사로 떴어요  출처
4201  2018-12-24                       반려동물  의료사고 사회안전망 만들어 달라 국민청원
4444  2018-12-17                   청와대      남양산시 산부인과 의료사고 청원답변 청와대
5313  2018-11-23     에서   일 금  오늘 저녁  시뉴스에서   아버지 김국선 씨가 딸 민주 양의...
5318  2018-11-23  김국선 씨가 딸 민주 양의 의료사고 사망의 진실을 밝히기 위해 지난  년간 힘든 싸...
5412  2018-11-22  딸 김민주 양의 아버지 김국선 씨를  월에 만났습니다  너무 늦게 만나 더 안타까웠...
5836  2018-11-15  그냥국민청원쭈욱 찾아 보는 게 낫겠다    세상에 험한 일이 너무 많이 일어난다 피...
5874  2018-11-15    경남 양산 의료사고의 남편입니다 국민청원마감 이틀 남았습니다  도와주세요
6371  2018-11-10        지구인 세상이야기    양산 산부인과 아기는 죽고 산모는 뇌사 의료사고국민청원

           날짜  SNS_KeyWord
0  2017-11-16            1
1  2018-04-23           34
2  2018-04-24            6
3  2018-04-25            1
4  2018-04-30            2
5  2018-05-01            2
6  2018-05-11            1
7  2018-05-16            6
8  2018-05-18            2
9  2018-06-21            2

             날짜  SNS  SNS_KeyWord
66   2017-08-17    1          0.0
67   2017-08-19    1          0.0
68   2017-08-20    2          0.0
69   2017-08-21    1          0.0
70   2017-08-22    2          0.0
...         ...  ...          ...
1521 2021-08-13  204          0.0
1522 2021-08-14   25          0.0
1523 2021-08-15   82          0.0
1524 2021-08-16   81          0.0
1525 2021-08-17   35          0.0

[1460 rows x 3 columns]

In [24]:
k_w = input('문자열을 입력하세요: ')
display(count(k_w))

문자열을 입력하세요: 취업

NameError: name 'sns_temp' is not defined

In [49]:
k_w = input('문자열을 입력하세요: ')
k_c = k_w.split(",")
sns_k = df.loc[df['Title'].str.contains('|'.join(k_c))]
sns_k = sns_k.sort_values(by = "Support",ascending = False)
display(sns_k.info())
display(sns_k.head(40))

문자열을 입력하세요: 조현아
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 70698 to 34843
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    43 non-null     object
 1   Title    43 non-null     object
 2   Date     43 non-null     object
 3   Support  43 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

None

,Class,Title,Date,Support
70698,기타,"대한항공 명칭 회수, 조현아, 조현민 처벌요구 . = = > . https://ww...",2018-05-14,753
72680,인권/성평등,칼호텔네트워크 사장으로 복귀하는 조현아와 수술대에 오르는 박창진 사무장,2018-04-29,590
70254,기타,"한군데로 몰아야 힘이됩니다. 대한항공 명칭 회수, 조현아, 조현민 처벌요구. = =...",2018-05-16,458
72934,인권/성평등,땅콩회항 조현아 부사장의 재조사 및 박창진 사무장의 인권을 보호해주세요.,2018-04-28,344
70264,인권/성평등,"조양호일가 가족 총수들 조원태,조현아,조현민…각각 소속된 회사 직책들 무조건 박탈 ...",2018-05-16,317
70481,기타,"대한항공 명칭 회수, 조현아, 조현민 처벌요구. 한군데로 몰아야 힘이됩니다. = =...",2018-05-15,312
70271,인권/성평등,"대한항공, 조현민, 조현아, 태극문양 청원 한곳으로",2018-05-16,275
72946,경제민주화,"대한항공 박찬진 사무장을 예우하고, 조현아를 갑질을 재조사할 것을 청원합니다.",2018-04-28,255
70275,기타,"대한항공 명칭회수 및 조현아, 조현민 처벌 요청. = > https://www1.p...",2018-05-16,252
73321,인권/성평등,전 대한항공 조현아 부사장의 경영 복귀에 대해 조사해 주세요!,2018-04-25,242
69887,경제민주화,조현민. 조현아 . 조원태등 대한항공 재벌집단을 정리하고 대한항공을 국적기에서 제외...,2018-05-17,236
70723,인권/성평등,대한항공 조현민 조현아,2018-05-14,206
69201,경제민주화,"경영세습 방지법 개정 (조현아, 조현민 갑질 방지법)",2018-05-19,188
71062,교통/건축/국토,대한항공 조현아.조현진.조련민 퇴출시켜야합니다.,2018-05-12,180
70511,인권/성평등,"대한항공 (조현아 조현민) ""세컨다리 보이콧""",2018-05-15,179
68532,경제민주화,조현민.조현아.조원태.이명희.최은영.조양호 모든 경영에서 손떼라,2018-05-23,157
72972,일자리,조양호(회장) 조현아(전부사장) 대한항공 칼호텔 퇴출,2018-04-28,155
68027,외교/통일/국방,"조현아, 조현민 입국 금지 요청",2018-05-26,151
69012,인권/성평등,대한항공 조현아 외 그 가족들의 갑질.... 조속한 처리와 진상규명 해주세요,2018-05-20,139
23703,안전/환경,조현아씨 남편 박종주씨의 마약검사를 시행해주십시오,2019-03-25,134
70915,반려동물,조현민 조현아 둘다 구속해주세여,2018-05-13,133
72982,경제민주화,땅콩회항 조현아가 다시 부사장복귀하네요.........,2018-04-28,131
70540,반려동물,대한항공 조현아 조현민 창피해서 못살겠다.. 추방하라...,2018-05-15,128
69947,인권/성평등,조현민 조현아..대한항공일가 회사 경영에서 손떼기,2018-05-17,125
72986,문화/예술/체육/언론,조현아가 평창올림픽 성화봉송에 선정된 배경과 추진 인사들을 처벌해 주세요.,2018-04-28,125
72751,경제민주화,땅콩 회항 조현아의 경영복귀 반대,2018-04-29,124
68198,정치개혁,법무부는 외국인인 조현아를 물의를 일으킨 조현아를 국외추방하라,2018-05-25,99
70573,기타,조현아?? 조현민 등 조씨 가족 비리,2018-05-15,87
73221,인권/성평등,땅콩회항 조현아 전 대한항공 부사장 복귀를 금지시켜주세요.,2018-04-26,83
70029,정치개혁,대한항공 조현민 조현아 두미국시민권자들에게 대한의 칭호 쓰게해도 되는건지?,2018-05-17,74
70781,반려동물,"조현민 조현아 구속, 무기징역",2018-05-14,66
70063,일자리,조현아 조현민 등 재벌의 자녀들을 모두 기업 경영진에서 해임합니다.,2018-05-17,64
66237,인권/성평등,'조양호-조현민-조현아-조원태-이명희 물러나라!',2018-06-03,62
68763,인권/성평등,조현아.조현민 모든 경영에서 사퇴,2018-05-22,58
71803,인권/성평등,조현아 경영복귀 반대합니다,2018-05-08,58
67118,정치개혁,조현아 진실성없다 대한항공 강력처별요청,2018-06-01,57
73039,행정,조현아,2018-04-28,50
68919,인권/성평등,조양호 일가(처 이명희 딸 조현아 조현민)를 청와대 관노비(官奴婢)로 삼으십시요.,2018-05-21,49
70803,문화/예술/체육/언론,조현아가 어떻게 어떻게 성화봉송을 할수 있읍니까...?,2018-05-14,45
70409,교통/건축/국토,조현아와 조현민을 즉각 체포하여 엄벌에 처해주기 바랍니다. 친일청산의 시작입니다.,2018-05-16,45

In [50]:
sns_k.head(1).Title

70698    대한항공 명칭 회수, 조현아, 조현민 처벌요구 . = = > . https://ww...
Name: Title, dtype: object